* {
    margin: 0px;
    padding: 0px;
}

#top {
    height: 300px;
    width: 1200px;
    margin: auto;
    border: 2px solid blue;
}

#bottom {
    width: 800px;
    height: 500px;
    margin: auto;
    background: maroon;
}

.house {
    width: 280px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    margin: auto;
    display: block;
}

h1 {
    text-align: center;
}